body{
  width: 50%;
  margin: 0 auto;
}
header{
  text-align: center;
}
header h1{
  font-size: 40px;
  color: #2c3e50;
  font-weight: 400;
}

input{
  font-size: 20px;
  color: #2c3e50;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #2c3e50;
  padding: 5px;
}


.task{
  background-color: #33495e;
  padding: 15px;
  margin: 5px;
  overflow-x: hidden;
  border-radius: 5px;
  cursor: pointer;
}
.task span{
  color: #FFFFFF;
}
.icon{
  float: right;
  margin-right: 20px;
}
article {
  display: grid;
}

.edit-todo {
  width: 80%;
  font-size: 15px;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #FFFFFF;
}

.button {
  font-size: 14px;  
  margin: 0 10px;
  padding: 10px;
  color: #6c6777;
  background-color: #FFF;
  border: none;
  cursor: pointer;
  width: 100px;
  border-radius: 5px;
}

.button.selected {
  color: #ffffff;
  background-color: #6c6777
}